@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist)<h3>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

<h3>@Html.DisplayNameFor(model => model.NewClient): @(Model.NewClient ? "New Client" : "Returning Client")<h3>

<p>@Html.ActionLink("Edit Client Information", "Edit", new { id = Model.ClientId })</p>

<p>@Html.ActionLink("Delete Client Information", "Delete", new { id = Model.ClientId })</p>

<p>@Html.ActionLink("Back to client list", "Index")</p>