@{
Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="container">
    <h2>Edit</h2>

    <h4>Edit client information : @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Stylist)
        @Html.DropDownList("StylistId")

        @Html.HiddenFor(model => model.ClientId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        <p>New client: </p>  @Html.RadioButtonFor(model => model.NewClient, "true")
        <p>Returning client: </p> @Html.RadioButtonFor(model => model.NewClient, "false")

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>